<div class="container-narrow">

  <div class="masthead">
  	<div class="pull-right">
  		<a href="/dashboard" class="btn">Sign in</a>
  		<!--
  		<form class="form-inline">
			  <input type="text" class="input-small" placeholder="Email">
			  <input type="password" class="input-small" placeholder="Password">
			  <label class="checkbox">
			    <input type="checkbox"> Remember me
			  </label>
			  <button type="submit" class="btn">Sign in</button>
			</form>
			-->
  	</div>
  	<!--
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    -->
    <h3 class="muted">Senior Serve</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <h1>Help your elders at a distance!</h1>
    <p class="lead">We help you with the mundane tasks of your aging parents and grandparents. Our platform assesses your love one(s) needs and matches them with quality, trusting people to help.</p>
    <a class="btn btn-large btn-success" href="/dashboard">Create a task!</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="" href="/complete-task">Be a helper</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
  	<div>
    	<iframe width="640" height="480" src="http://www.youtube.com/embed/FekolphbLjI" frameborder="0" allowfullscreen></iframe>
    </div>
  	<!--
    <div class="span6">
      <h4>Create a task</h4>
      <p>Blah.. id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Create a task</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Create a task</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="span6">
      <h4>Complete a task</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Complete a task</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Complete a task</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
    -->
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Company 2012</p>
  </div>

</div>