<div class="container-narrow">

  <div class="masthead">
  	<div class="pull-right">
  		<form class="form-inline">
			  <input type="text" class="input-small" placeholder="Email">
			  <input type="password" class="input-small" placeholder="Password">
			  <label class="checkbox">
			    <input type="checkbox"> Remember me
			  </label>
			  <a href="/dashboard" class="btn">Sign in</a>
			  <!--<button type="submit" class="btn">Sign in</button>-->
			</form>
  	</div>
  	<!--
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    -->
    <h3 class="muted">Senior Serve</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <h1>Get help, create a task today!</h1>
    <p class="lead">Are you an elderly... in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <a class="btn btn-large btn-success" href="/dashboard">Create a task!</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="" href="/complete-task">Complete a task</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Create a task</h4>
      <p>Blah.. id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Create a task</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Create a task</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="span6">
      <h4>Complete a task</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Complete a task</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Complete a task</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Company 2012</p>
  </div>

</div>