body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.home {
  /* Custom container */

  /* Main marketing message and sign up button */

  /* Supporting marketing content */

}
.home.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.home.container-narrow > hr {
  margin: 30px 0;
}
.home .jumbotron {
  margin: 60px 0;
  text-align: center;
}
.home .jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.home .jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.home .atrocity-listing {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid 
    #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.home .atrocity-listing.example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid 
      #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.home .atrocity-listing .share {
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 15px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.home .listings {
  margin: 60px 0;
}
.home .listings p + h4 {
  margin-top: 28px;
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
