  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Senior Serve</a>
       <div class="nav-collapse" id="main-menu">
       	<ul class="nav" id="main-menu-left">
       		<li class=""><a href="/">Home</a></li>
       		<li class=""><a href="/enablers">Enablers</a></li>
       </ul>
       <ul class="nav pull-right">
       	<li class="active"><a id="swatch-link" href="/report-enabler">Report Enabler</a></li>
       </ul>
			</div>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<% for(var i=0, max=notices.length; i < max; i++) { %>
	  <div class="row">
	    <div class="alert alert-block span11">
	      <a class="close">x</a>
	      <h4 class="alert-heading">notices[i]</p>
	    </div>
	  </div>
	<% } %>
  <div class="row">
    <div class="span9">
      <h1>Family dashboard</h1>
    </div>
    <div class="span3 pull-right">
      <a class="btn btn-primary btn-large pull-right" href="/create-task">Post New Task</a>
    </div>
  </div>
</header>


<!-- New Listings
================================================== -->

<div id="dashboard-listing" class="row-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thread>
    <% for(var i=0, max=tasks.length; i < max; i++) { %>
	    <tr>
	      <td>
	        <div class="row-fluid">
	          <div class="span2 dashboard-list-pict">
	            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
	            <h4>Brent Daugherty</h4>
	          </div>
	          <div class="span8 dashboard-list-middle">
	            <h4><%= tasks[i].task %></h4>
	            <p>TASK : <%= tasks[i].description %></p>
	            <h5><img class="time-img" src="img/time.png"/> : <span class="time"><%= tasks[i].when %></span></h5>
	            <h5><span class="money">$<%= tasks[i].price %></span></h5>
	          </div>
	          <div class="span2 dashboard-list-status">
	            <img class="status-img" src="img/user-refresh.png"/>
	            <h5>STATUS : ongoing</h5>
	          </div>
	        </div>
	      </td>
	    </tr>
	  <% } %>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 dashboard-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
            <h4>Brent Daugherty</h4>
          </div>
          <div class="span8 dashboard-list-middle">
            <h4>Please make me delicious dinner</h4>
            <p>TASK : Please make me delicious dinner. I like to eat curry today... >></p>
            <h5><img class="time-img" src="img/time.png"/> : <span class="time">TONIGHT</span></h5>
            <h5><span class="money">$15</span></h5>
          </div>
          <div class="span2 dashboard-list-status">
            <img class="status-img" src="img/user-refresh.png"/>
            <h5>STATUS : ongoing</h5>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 dashboard-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/1/000/197/231/32cc8e7.jpg"/>
            <h4>Takahiro Anno</h4>
          </div>
          <div class="span8 dashboard-list-middle">
            <h4>Please make me delicious dinner</h4>
            <p>TASK : Please make me delicious dinner. I like to eat curry today... >></p>
            <h5><img class="time-img" src="img/time.png"/> : <span class="time">2 days ago</span></h5>
            <h5><span class="money">$30</span></h5>
          </div>
          <div class="span2 dashboard-list-status">
            <img class="status-img" src="img/flag.png"/>
            <h5>STATUS : done</h5>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 dashboard-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
            <h4>Brent Daugherty</h4>
          </div>
          <div class="span8 dashboard-list-middle">
            <h4>Please make me delicious dinner</h4>
            <p>TASK : Please make me delicious dinner. I like to eat curry today... >></p>
            <h5><img class="time-img" src="img/time.png"/> : <span class="time">TONIGHT</span></h5>
            <h5><span class="money">$15</span></h5>
          </div>
          <div class="span2 dashboard-list-status">
            <img class="status-img" src="img/user-refresh.png"/>
            <h5>STATUS : ongoing</h5>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 dashboard-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
            <h4>Brent Daugherty</h4>
          </div>
          <div class="span8 dashboard-list-middle">
            <h4>Please make me delicious dinner</h4>
            <p>TASK : Please make me delicious dinner. I like to eat curry today... >></p>
            <h5><img class="time-img" src="img/time.png"/> : <span class="time">TONIGHT</span></h5>
            <h5><span class="money">$15</span></h5>
          </div>
          <div class="span2 dashboard-list-status">
            <img class="status-img" src="img/user-refresh.png"/>
            <h5>STATUS : ongoing</h5>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 dashboard-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
            <h4>Brent Daugherty</h4>
          </div>
          <div class="span8 dashboard-list-middle">
            <h4>Please make me delicious dinner</h4>
            <p>TASK : Please make me delicious dinner. I like to eat curry today... >></p>
            <h5><img class="time-img" src="img/time.png"/> : <span class="time">TONIGHT</span></h5>
            <h5><span class="money">$15</span></h5>
          </div>
          <div class="span2 dashboard-list-status">
            <img class="status-img" src="img/user-refresh.png"/>
            <h5>STATUS : ongoing</h5>
          </div>
        </div>
      </td>
    </tr>
    </thread>
  </table> 
</div>

<br><br><br><br>

<!-- Footer
================================================== -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>

</div><!-- /container -->
