  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Senior Serve</a>
       <div class="nav-collapse" id="main-menu">
       	<ul class="nav" id="main-menu-left">
       		<li class=""><a href="/">Home</a></li>
       		<li class=""><a href="/dashboard">Dashboard</a></li>
       </ul>
       <ul class="nav pull-right">
       	<li class="active"><a id="swatch-link" href="/create-task">Create a Task</a></li>
       </ul>
			</div>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="row">
	    <div class="alert alert-block span11">
	      <a class="close">x</a>
	      <h4 class="alert-heading">Your task has been added. You can invite helpers or wait for someone to respond.</p>
	    </div>
	  </div>
  <div class="row">
    <div class="span12">
      <h1>Helpers List</h1>
      <p>Invite people that are willing to help.</p>
    </div>
  </div>
</header>


<!-- New Listings
================================================== -->

<div id="dashboard-listing" class="row-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thread>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 helper-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/3/000/0a9/115/07fb19f.jpg"/>
          </div>
          <div class="span8 helper-list-middle">
            <h4>Suki Nigiri  <span class="price">$15</span>
              <span class="star-rater"> ★★★★</span> </h4>
            <p>My passion is in creating and designing the interactive, user-facing medium known as front-end development. Currently, I'm most excited by mobile devices and modern browsers that support HTML5 and the like. <a href="#">>>>Review(10)</a></p>
          </div>
          <div class="span2 helper-list-btn">
            <a class="btn btn-primary btn-large invite" href="#">INVITE</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 helper-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/1/000/0ee/123/0876087.jpg"/>
          </div>
          <div class="span8 helper-list-middle">
            <h4>Annie Mayonaeis  <span class="price">$15</span>
              <span class="star-rater"> ★★★★</span> </h4>
            <p>My passion is in creating and designing the interactive, user-facing medium known as front-end development. Currently, I'm most excited by mobile devices and modern browsers that support HTML5 and the like. <a href="#">>>>Review(10)</a></p>
          </div>
          <div class="span2 helper-list-btn">
            <a class="btn btn-primary btn-large invite" href="#">INVITE</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 helper-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/3/000/1ba/357/148a507.jpg"/>
          </div>
          <div class="span8 helper-list-middle">
            <h4>Dustin Apperanteno <span class="price">$15</span>
              <span class="star-rater"> ★★</span> </h4>
            <p>My passion is in creating and designing the interactive, user-facing medium known as front-end development. Currently, I'm most excited by mobile devices and modern browsers that support HTML5 and the like. <a href="#">>>>Review(10)</a></p>
          </div>
          <div class="span2 helper-list-btn">
            <a class="btn btn-primary btn-large invite" href="#">INVITE</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 helper-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/1/000/019/321/12bb13c.jpg"/>
          </div>
          <div class="span8 helper-list-middle">
            <h4>Laura Gurganeis  <span class="price">$15</span>
              <span class="star-rater"> ★★★</span> </h4>
            <p>My passion is in creating and designing the interactive, user-facing medium known as front-end development. Currently, I'm most excited by mobile devices and modern browsers that support HTML5 and the like. <a href="#">>>>Review(10)</a></p>
          </div>
          <div class="span2 helper-list-btn">
            <a class="btn btn-primary btn-large invite" href="#">INVITE</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span2 helper-list-pict">
            <img class="dashboard-img" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_150_150/p/2/000/07d/2a1/15bfbdc.jpg"/>
          </div>
          <div class="span8 helper-list-middle">
            <h4>Brent Daugherty  <span class="price">$15</span>
              <span class="star-rater"> ★★★</span> </h4>
            <p>My passion is in creating and designing the interactive, user-facing medium known as front-end development. Currently, I'm most excited by mobile devices and modern browsers that support HTML5 and the like. <a href="#">>>>Review(10)</a></p>
          </div>
          <div class="span2 helper-list-btn">
            <a class="btn btn-primary btn-large invite" href="#">INVITE</a>
          </div>
        </div>
      </td>
    </tr>
    </thread>
  </table> 
</div>

<br><br><br><br>

<!-- Footer
================================================== -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>

</div><!-- /container -->
