
  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Senior Serve</a>
       <div class="nav-collapse" id="main-menu">
       	<ul class="nav" id="main-menu-left">
       		<li class=""><a href="/dashboard">Dashboard</a></li>
       		<!--<li class=""><a href="/">Home</a></li> -->
       </ul>
       <ul class="nav pull-right">
       	<li class="active"><a id="swatch-link" href="#">Create a Task</a></li>
       </ul>
			</div>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>Create a Task</h1>
      <p class="lead">And helpers will offer to assist you.</p>
    </div>
  </div>
</header>


<!-- New Listings
================================================== -->

<div id="new-listing" class="row-fluid">
<form class="form-horizontal well" method="post" enctype="multipart/form-data" action="/create-task">
    <fieldset>
      <legend>How can I help?</legend>
      <div class="control-group">
        <label class="control-label" for="task">Task</label>
        <div class="controls">
          <select id="task" class="input-xxlarge">
          	<option value="" selected="selected">Alzheimer's & Dementia Care</option>
          	<option value="task 1">Bathing/Dressing</option>
          	<option value="task 1">Companionship</option>
          	<option value="task 1">Computer &amp; Electronic Help</option>
          	<option value="">Cooking &amp; Feeding</option>
          	<option value="">Exercise &amp; Rehab</option>
          	<option value="">Financial &amp; Legal Help</option>
          	<option value="">House Cleaning &amp; Chores</option>
          	<option value="">Living Assistance</option>
          	<option value="">Medication Reminders</option>
          	<option value="">Office Help</option>
          	<option value="">Party &amp; Event Planning</option>
          	<option value="">Pet Care</option>
          	<option value="">Post Surgery Care</option>
          	<option value="">Shopping &amp; Errands</option>
          	<option value="">Skilled Handyman &amp; Repairs</option>
          	<option value="">Transportation</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xxlarge" id="description" name="description" rows="3" placeholder="I need to pick up a few things from the store..."></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="location">Location</label>
        <div class="controls">
          <input class="input-xxlarge" id="location" name="location" placeholder="Location"></input>
        </div>
      </div> 
      <div class="control-group">
        <label class="control-label" for="location">When</label>
        <div class="controls">
          <input class="input-xxlarge" id="when" name="when" placeholder="Date & Time"></input>
        </div>
      </div>  
      <div class="control-group">
        <label class="control-label" for="hashtag">Price</label>
        <div class="controls">
          <div class="input-prepend input-append">
					  <span class="add-on">$</span>
					  <input class="span3" id="price" name="price" type="text">
					  <span class="add-on">.00</span>
					</div>
        </div>
      </div>
      <!--
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input class="input-xxlarge" id="email" name="email" placeholder="Email"></input>
        </div>
      </div>
      -->
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Create Task</button>
        <button type="reset" class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
  
<br><br><br><br>

<!-- Footer
================================================== -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>

</div><!-- /container -->
