
  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Senior Serve</a>
       <div class="nav-collapse" id="main-menu">
       	<ul class="nav" id="main-menu-left">
       		<li class=""><a href="/">Home</a></li>
       		<li class=""><a href="/enablers">Enablers</a></li>
       </ul>
       <ul class="nav pull-right">
       	<li class="active"><a id="swatch-link" href="/report-enabler">Report Enabler</a></li>
       </ul>
			</div>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>End Atrocity</h1>
      <p class="lead">With your help we can <u>identify</u> and <u>spotlight</u> these third-party enablers</p>
    </div>
  </div>
</header>


<!-- New Listings
================================================== -->

<div id="new-listing" class="row-fluid">
<form class="form-horizontal well" method="post" enctype="multipart/form-data" action="/report-enabler">
    <fieldset>
      <legend>You speak for those silenced. Thank you.</legend>
      <div class="control-group">
        <label class="control-label" for="headline">Headline</label>
        <div class="controls">
          <input type="text" class="input-xxlarge focused" id="headline" name="headline" placeholder="ABC INC. IS SUPPLYING SMALL ARMS TO LIBYA">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xxlarge" id="description" name="description" rows="3" placeholder="On several occasions I've witnessed..."></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="fileEvidence">Evidence</label>
        <div class="controls">
          <input class="input-file" id="fileEvidence" name="fileEvidence" type="file">
        </div>
      </div>   
      <div class="control-group">
        <label class="control-label" for="hashtag">Hashtag</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">#</span>
            <input class="input-large" id="hashtag" name="hashtag" type="text" placeholder="endatrocity">
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="password" name="password">
          <p class="help-block">A password will allow you to edit this later.</p>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Blow the whistle!</button>
        <button type="reset" class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
  
<br><br><br><br>

<!-- Footer
================================================== -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>

</div><!-- /container -->